{% extends 'base.html.twig' %}
{% form_theme ReservationType 'bootstrap_4_layout.html.twig' %}
{% block body %}

    <div class="container-fluid mt-4">
        <div class="jumbotron">
            <h1 class="display-4" style="text-align: center;">Reservation </h1>
        </div>
        {{ form_start(ReservationType ) }}

        <div class="row" style="max-width: 80vw;margin-left: 150px">
            <div class="col-md-4">
                {{ form_row(ReservationType.adresse, {'attr': {'placeholder' :"adresse"}}) }}
            </div>
            <div class="col-md-4">
                {{ form_row(ReservationType.region, {'attr': {'placeholder' :"region"}}) }}
            </div>
            <div class="col-md-4">
                {{ form_row( ReservationType.tel, {'attr': {'placeholder' :"telephone"}})}}
            </div>

        </div>
        <div class="row" style="max-width: 80vw;margin-left: 150px">
        <div class="col-md-6">
            {{ form_row(ReservationType .date, {'attr': {'placeholder' :"date"}})  }}
        </div>
        </div>
        <div class="row" style="max-width: 80vw;margin-left: 150px">
            <div class="col-md-12">
                {{ form_row(ReservationType.service, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="row" style="max-width: 80vw;margin-left: 150px">
            <div class="col-md-12">
                {{ form_row(ReservationType.User, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>





        <button  style=" width:190px;margin-left: 550px;margin-top: 50px;margin-bottom: 50px" class="btn btn-success" type="submit">
            valider
        </button>
        {{ form_end(ReservationType) }}

    </div>
{% endblock %}
