{% extends 'baseAdmin.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
 






<!-- Main content -->
<section class="content">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">Liste des reservations</h3>
				</div>
				<!-- /.card-header -->
				<div class="card-body">
					<table id="example1" class="table table-bordered table-striped">
						<thead>
							
                    <tr>
                        <th>Id</th>
                        <th>Service </th>
                        <th>Demandeur</th>
                        <th>Region</th>



                        <th>Date</th>
                        <th>Prix</th>

                        <th>Action</th>
                        <th>Action</th>

                        {% for reservation  in reservation %}


                    <tr>
						</thead>
						<tbody>
							
								<tr>
									 <td>{{ reservation.id}}</td>
                        <td>{{ reservation.service}}</td>


                        <td>{{ reservation.user}}</td>

                        <td>{{reservation.region}}</td>
                        <td>{{ reservation.date| date("d/m/Y")}} </td>
                        <td></td>

               
									<td>
										<a href="{# {{path("admin.roles",{'id':user.id})}} #}">
											<i class="far fa-edit"></i>
										</a>
									</td>
									<td>
										<a href="{#{{path("admin.roles",{'id':user.id})}}#}">
											<i class="fas fa-eye"></i>
										</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
						<tfoot>
							<tr>
								<th>Id</th>
                        <th>Service </th>
                        <th>Demandeur</th>
                        <th>Region</th>



                        <th>Date</th>
                        <th>Prix</th>

                        <th>Action</th>
                        <th>Action</th>
							</tr>
						</tfoot>
					</table>
					<div  style="margin-left: 350px;margin-top: 70px;">
                    <div class="row mt-30">
                        <div class="col">

                            {{ knp_pagination_render( reservation) }}


                        </div>
                    </div>
                </div>


				</div>
			</div>
		</div>
	</div>
</section>
</div>



{% endblock %}