
<div class="cart_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="cart_container">
                    <div class="cart_title">Shopping Cart</div>
                    <div class="cart_items">
                        <ul class="cart_list">
                            <li class="cart_item clearfix">

                                {% for detail in details %}
                                <div class="cart_item_image"><img src="images/shopping_cart.jpg" alt=""></div>
                                <div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
                                    <div class="cart_item_name cart_info_col">
                                        <div class="cart_item_title">prestations</div>
                                        <div class="cart_item_text">{{detail.service.libelle}}<</div>
                                    </div>
                                    {#<div class="cart_item_color cart_info_col">
                                        <div class="cart_item_title">Color</div>
                                        <div class="cart_item_text"><span style="background-color:#999999;"></span>Silver</div>
                                    </div>#}
                                    <div class="cart_item_quantity cart_info_col">
                                        <div class="cart_item_title">Quantite</div>
                                        <div class="cart_item_text"><select name="" id="" onchange = "modifQuantite("{{ detail.service.id }}",this.value)">

                                            {% for i   in 1..20  %}
                                                <option value="{{ i }}"
                                                        {% if detail.Qte == i %}selected {% endif %} >
                                                    {{ i }}
                                                </option>
                                            {% endfor %}</div>
                                    </div>
                                    <div class="cart_item_price cart_info_col">
                                        <div class="cart_item_title">Prix</div>
                                        <div class="cart_item_text">${{ detail.service.prix }}</div>
                                    </div>
                                    {% endfor %}

                                    <div class="cart_item_total cart_info_col">
                                        <div class="cart_item_title">Total</div>
                                        <div class="cart_item_text">$2000</div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <!-- Order Total -->
                    <div class="order_total">
                        <div class="order_total_content text-md-right">
                            <div class="order_total_title">Order Total:</div>
                            <div class="order_total_amount">$</div>
                        </div>
                    </div>

                    <div class="cart_buttons">
                        <button type="button" class="button cart_button_clear">Add to Cart</button>
                        <button type="button" class="button cart_button_checkout">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<button class="close-cart">Close Cart<i class="icofont icofont-close"></i></button>

</div>
<div class="container">

<!-- Mini Cart Products -->
<ul class="mini-cart-products">
  {# {{ dump(details) }}#}

    {% for detail in details %}
    <li>
       {# <a class="image"><img src="{{ asset('image/'~produ.image) }}" alt="Product"></a>#}
        <div class="content">
            <a href="single-product.html" class="title">{{detail.service.libelle}}</a>
            <span class="price">Price:{{detail.service.prix}}</span>
            <span class="qty"><select name="" id="" onchange = "modifQuantite("{{ detail.service.id }}",this.value)">
                        {% for i   in 1..20  %}
                            <option value="{{ i }}"
                                    {% if detail.Qte == i %}selected {% endif %} >
                                {{ i }}
                            </option>
                        {% endfor %}

                    </select>
            </span>
        </div>
        <button class="remove"> <a href="{{ path('panier.service.delete' , {'id': detail.service.id}) }}"><i class="fa fa-trash-o"></i></a></button>
    </li>
    {% endfor %}

</ul>

<!-- Mini Cart Bottom -->
<div class="mini-cart-bottom">

   {# <h4 class="sub-total">Total: <span>$1160</span></h4>#}

    <div class="button">
        <a href="{{ path('panier') }}">CHECK OUT</a>
    </div>
</div>
</div>